# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node
node_modules/
dist/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.secret.yaml

# Terraform
.terraform/
*.tfstate

# Misc
coverage/

# Alertmanager
alertmanager-backup.yaml

# Secrets
*.secret.yaml
*.backup.yaml

# SMTP configs
kubernetes/monitoring/alertmanager-values.yaml

**/alertmanager-values.yaml
