.hero-section{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

gap:60px;

padding:0 8%;

background:linear-gradient(
180deg,
#050505,
#090909
);

position:relative;

overflow:hidden;

}

.hero-content{

flex:1;

max-width:650px;

z-index:2;

}

@media(max-width:1100px){

.hero-section{

flex-direction:column;

padding-top:120px;

text-align:center;

}

.hero-content{

max-width:100%;

}

}